<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" />
    </head>
<body>

    <div>
        <a href='/'>Home</a>
    </div>

    <div>
        <a href='/blog'>All Posts</a>
    </div>

    <div>
        <a href='/newpost'>New Post</a>
    </div>

    <div class='tab'>
        <a href='/login'>Login</a>
    </div>

    <div class='tab'>
        <a href='/logout'>Logout</a>
    </div>

	{% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
		{% for category, message in messages %}
            <li class="{{category}}">{{message}}</li>
        {% endfor %}
        </ul>
    {% endwith %}

    {% block content %}
    {% endblock %}

</body>
</html>