{% extends "base.html" %}
{% block content %}
<h1>New Post</h1>

<form action="/newpost" method="post">
    <table>
        <tr>
            <td><label for="blog_title"><strong>Title</strong></label></td>
        </tr>

        <tr>
            <td>
		        <input id="blog_title" type="text" name="blog_title" value="{{blog_title}}" />
                <span class="error">{{blog_title_error}}</span>
            </td>
        </tr>
        
        
        
        <tr>
	        <td><label for="entry_body"><strong>Post</strong></label></td>
        </tr>
            
        <tr>
            <td>
                <textarea id="entry_body" name="entry_body">{{entry_body}}</textarea>
                <span class="error">{{entry_body_error}}</span>
            </td>
        </tr>
    </table>
    
    
    <input type="submit" value="Add Entry"/>
</form>

{% endblock %}